<!-- header-area start -->
<app-website-navbar></app-website-navbar>
<!-- header-area end -->

<!-- slide-bar start -->
<app-website-sidemenu></app-website-sidemenu>
<!-- slide-bar end -->

<main>
    <!--slider-area start-->
    <section id="slider-one" class="grey-bg slider-area pos-rel pt-275 pb-190 pt-md-200 pt-xs-180 pb-xs-215">
        <!-- <img class="slider-shape shape_01 d-none d-xxl-inline-block" src="assets/website/img/line/line-1.svg" alt=""> -->
        <!-- <img class="slider-shape shape_02" src="assets/website/img/line/line-baby-1.svg" alt=""> -->
        <img class="slider-shape shape_03" src="assets/website/img/line/line-2.svg" alt="">
        <img class="slider-shape shape_04 d-none d-md-inline-block" src="assets/website/img/shape/orange-1.svg" alt="">
        <img class="slider-shape shape_05 d-none d-xxl-inline-block" src="assets/website/img/shape/round-line-a.svg"
            alt="">
        <img class="slider-shape shape_06 d-none d-lg-inline-block" src="assets/website/img/shape/berry-1.svg" alt="">
        <img class="slider-shape shape_07 d-none d-lg-inline-block" src="assets/website/img/shape/orange-2.svg" alt="">
        <img class="slider-shape shape_08 d-none d-lg-inline-block" src="assets/website/img/shape/dot-a.svg" alt="">
        <div class="main-slider main-slider-1">
            <img class="transport img-one" src="assets/website/img/slider/plane.svg" alt="">
            <img class="transport img-two d-none d-lg-inline-block" src="assets/website/img/slider/truck.svg" alt="">
            <img class="transport img-three d-none d-md-inline-block" src="assets/website/img/slider/men-women.svg"
                alt="">
            <img class="transport img-four d-none d-lg-inline-block" src="assets/website/img/slider/nav-box.svg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="slider__content">
                            <!-- <h4 class="styled-text">4 types of Logistics Solution</h4> -->
                            <h1 class="main-title mb-40">Simplifying your shipping exceperience from US to Nigeria</h1>
                            <h5>Access swift, reliable and easy shipping from the USA to Nigeria at an affordable rate.</h5>
                            <a href="http://54.234.20.126:9090" target="_blank" class="theme_btn">Register</a>
                        </div>
                    </div>
                </div>
                <!--/.row-->
            </div>
            <!--/.container-->
        </div>
    </section>
    <!--slider-area end-->
    <!--logistics-services start-->
    <section class="sky-blue-bg logistics-services round-background pt-120 pb-110 pt-md-60 pb-md-60 pt-xs-60 pb-xs-60">
        <img class="service-shape service-1 d-none d-lg-inline-block" src="assets/website/img/shape/berry-1.svg" alt="">
        <img class="service-shape service-2 d-none d-lg-inline-block" src="assets/website/img/shape/dot-a.svg" alt="">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <div class="section-title text-center mb-80">
                        <h6 class="mb-25">Logistic Services </h6>
                        <h2>Transport and <span class="bg-shape">Logistics</span> Solution</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="c-services text-center wow fadeInUp2 animated mb-30" data-wow-delay="0.1s">
                        <div class="c-services__icon mb-65">
                            <img src="assets/website/icon/plane.svg" alt="">
                        </div>
                        <h3 class="service-title mb-25">Air Freight</h3>
                        <p class="mb-35"> Shipping cargo by air is critical for markets and supply chains to rely on expedited delivery services.</p>
                        <a class="arrow-icon"[routerLink]="['/site/service']">Discover More <img
                                src="assets/website/img/icon/right-arrow.svg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="c-services active text-center wow fadeInUp2 animated mb-30" data-wow-delay="0.2s">
                        <div class="c-services__icon mb-65">
                            <img src="assets/website/icon/ship.svg" alt="">
                        </div>
                        <h3 class="service-title mb-25">Marine/Sea</h3>
                        <p class="mb-35">Ocean shipping is also the most environmentally friendly and cost-effective way of freight transportation</p>
                        <a class="arrow-icon" [routerLink]="['/site/service']">Discover More <img
                                src="assets/website/img/icon/right-arrow.svg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="c-services text-center wow fadeInUp2 animated mb-30" data-wow-delay="0.3s">
                        <div class="c-services__icon mb-65">
                            <img src="assets/website/icon/warehousing.svg" alt="">
                        </div>
                        <h3 class="service-title mb-25">Warehousing</h3>
                        <p class="mb-35">Warehouse are facilities that are used for the storage of goods, stacking, packaging, picking  these goods.</p>
                        <a class="arrow-icon" [routerLink]="['/site/service']">Discover More <img
                                src="assets/website/img/icon/right-arrow.svg" alt=""></a>
                    </div>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </section>
    <!--logistics-services end-->
    <!--onestop-mangement start-->
    <!-- <section class="onestop-management pt-150 pb-160 pt-md-60 pb-md-60 pt-xs-60 pb-xs-60">
        <img class="manage-shape manage-1 d-none d-lg-inline-block" src="assets/website/img/line/line-baby-1.svg"
            alt="">
        <img class="manage-shape manage-2 d-none d-md-inline-block" src="assets/website/img/shape/box-1.svg" alt="">
        <img class="manage-shape manage-3 d-none d-lg-inline-block" src="assets/website/img/line/line-3.svg" alt="">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="section-title management-title pr-30">
                        <h2>One place to manage all your shipments and tasks</h2>
                        <p>We have the capability to tailor solutions for individual businesses by moulding our
                            comprehensive range of services.</p>
                    </div>
                </div>
                <div class="col-lg-6 trusted-area pl-60">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 col-12">
                            <div class="row-count-content">
                                <div class="row-count-one">
                                    <div class="counter-box cb-1 wow fadeInUp2 animated" data-wow-delay="0.1s">
                                        <h2><span class="counter">100</span>k<b>+</b></h2>
                                        <h3>Brands Trust</h3>
                                        <p>Brands that trust opic</p>
                                    </div>
                                </div>
                                <div class="row-count-two">
                                    <div class="counter-box sky-blue-bg wow fadeInUp2 animated" data-wow-delay="0.2s">
                                        <h2><span class="counter">1100</span><b>+</b></h2>
                                        <h3>World wide</h3>
                                        <p>More worldwide user</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 col-sm-6 col-12">
                            <div class="counter-box cb-3 mt-140 wow fadeInUp2 animated" data-wow-delay="0.3s">
                                <h2><span class="counter">5.8</span>k<b>+</b></h2>
                                <h3>Products Transport</h3>
                                <p>Tons of Products</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--onestop-mangement end-->
    <!--why-chose-us start-->
    <section class="why-chose-us shape-style position-relative">
        <div class="grey-bg-soft why-chose-us-bg position-relative pt-115 pt-lg-40 pt-md-60 pt-xs-60 pb-100">
            <img class="chose-shape cshape-3 d-none d-xl-inline-block" src="assets/website/img/shape/dot-a.svg" alt="">
            <img class="chose-shape cshape-4 d-none d-lg-inline-block" src="assets/website/img/chose/big-truck.svg"
                alt="">
            <img class="chose-shape cshape-5 d-none d-md-inline-block" src="assets/website/img/chose/big-truck.svg"
                alt="">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-4 col-lg-6">
                        <div class="chose-img-wrapper mb-30">
                            <img class="big-img" src="assets/website/img/brij/delivery-guy.svg" alt="">
                            <img class="chose-shape cshape-1" src="assets/website/img/shape/orange-3.svg" alt="">
                            <img class="chose-shape cshape-2" src="assets/website/img/shape/dot-b.svg" alt="">
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-6">
                        <div class="chose-wrapper white-bg pt-110 pr-65 pb-55 pl-115 mb-30">
                            <div class="section-title pr-65">
                                <h6 class="mb-25">What we offer</h6>
                                <!-- <h2>The fastest, easiest way to get products to your customers.</h2> -->
                            </div>
                            <div class="chose-box mb-10">
                                <ul class="single-box-list pr-45">
                                    <li>
                                        <div class="single-box">
                                            <img src="assets/website/img/icon/ship-2.svg" alt="">
                                            <h4 class="ml-10">Secure Shipping</h4>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single-box">
                                            <img src="assets/website/img/icon/air-freight.svg" alt="">
                                            <h4 class="ml-25">Express Shipping</h4>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single-box">
                                            <img src="assets/website/img/icon/warehouse.svg" alt="">
                                            <h4 class="ml-25">Low Rate</h4>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single-box">
                                            <img src="assets/website/img/icon/air-freight.svg" alt="">
                                            <h4 class="ml-25">Satisfaction Guaranteed</h4>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single-box">
                                            <img src="assets/website/img/icon/warehouse.svg" alt="">
                                            <h4 class="ml-25">Good Customer Service</h4>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor
                                incididunt ut labore.</p> -->
                            <a [routerLink]="['/site/service']" class="theme_btn mt-40">Discover More</a>
                        </div>
                    </div>
                </div>
                <!--/.row-->
            </div>
            <!--/.container-->
        </div>
    </section>
    <!--why-chose-us end-->
    <!--work-process start-->
    <section class="work-process position-relative pt-150 pb-130 pt-md-60 pb-md-30 pt-xs-60 pb-xs-30">
        <img class="work-shape pshape-1" src="assets/website/img/shape/orange-5.svg" alt="">
        <img class="work-shape pshape-2" src="assets/website/img/shape/dot-a.svg" alt="">
        <img class="work-shape pshape-3" src="assets/website/img/shape/eclip-1.svg" alt="">
        <img class="work-shape pshape-4" src="assets/website/img/shape/box-2.svg" alt="">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8">
                    <div class="section-title text-center mb-xs-80 mb-md-80 mb-170">
                        <h6 class="mb-30">Our Shipping Process</h6>
                        <h2>How to ship with <span class="bg-shape">Brij World</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="single-work mb-30">
                        <div class="single-work__icon mb-30">
                            <img src="assets/website/img/icon/budget.svg" alt="">
                        </div>
                        <h4 class="semi-title">Sign Up</h4>
                        <p class="text-xs">Sign up on our website, and get a US Virtual Address to shop online. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="single-work sw-2 mb-30">
                        <div class="single-work__icon mb-30">
                            <img src="assets/website/img/icon/air-freight-2.svg" alt="">
                        </div>
                        <h4 class="semi-title">Shop</h4>
                        <p>Shop on your Favourite US online store with our virtual Address without worrying about shipping limitations.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="single-work sw-3 mb-30">
                        <div class="single-work__icon mb-30">
                            <img src="assets/website/img/icon/inventory.svg" alt="">
                        </div>
                        <h4 class="semi-title">Ship</h4>
                        <p>Pay for your shipment and receive real time tracking sent to you at every step.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="single-work sw-4 mb-30">
                        <div class="single-work__icon mb-30">
                            <img src="assets/website/icon/truck.svg" alt="">
                        </div>
                        <h4 class="semi-title">Deliver</h4>
                        <p>You also have an option for a door delivery or you pick at our office address.</p>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="single-work mb-30">
                        <div class="single-work__icon mb-30">
                            <img src="assets/website/img/icon/budget.svg" alt="">
                        </div>
                        <h4 class="semi-title">Sign Up</h4>
                        <p>Get a virtual address</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="single-work mb-30">
                        <div class="single-work__icon mb-30">
                            <img src="assets/website/img/icon/air-freight-2.svg" alt="">
                        </div>
                        <h4 class="semi-title">Shop</h4>
                        <p>Shop from online stores</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="single-work sw-3 mb-30">
                        <div class="single-work__icon mb-30">
                            <img src="assets/website/img/icon/inventory.svg" alt="">
                        </div>
                        <h4 class="semi-title">Ship</h4>
                        <p>Real-time Tracking</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="single-work sw-4 mb-30">
                        <div class="single-work__icon mb-30">
                            <img src="assets/website/img/icon/truck-2.svg" alt="">
                        </div>
                        <h4 class="semi-title">Deliver</h4>
                        <p>Receive your item</p>
                    </div>
                </div>
            </div> -->
            <!--/.row-->
        </div>
        <!--/.container-->
    </section>
    <!--work-process end-->
    <!--case-studies start-->
    <!-- <section class="sky-blue-bg-2 case-studies position-relative pt-150 pb-110 pt-md-60 pb-md-40 pt-xs-60 pb-xs-40">
        <img class="case-shape cashape-1 d-none d-lg-inline-block" src="assets/website/img/shape/triangle.svg" alt="">
        <img class="case-shape cashape-2 d-none d-lg-inline-block" src="assets/website/img/shape/dot-a.svg" alt="">
        <img class="case-shape cashape-4 d-none d-lg-inline-block" src="assets/website/img/shape/box-2.svg" alt="">
        <div class="container">
            <div class="row align-items-center mb-50">
                <div class="col-xl-7 col-lg-6 col-md-6">
                    <div class="section-title mb-30 text-center text-md-start">
                        <h6 class="mb-30">Our Case Studies</h6>
                        <h2>Giving your industry</h2>
                        <h2 class="mb-55">Solution global freight forwarder</h2>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 col-md-6">
                    <div class="case-feedback mb-30">
                        <img class="mb-20" src="assets/website/img/icon/quote-hand.svg" alt="">
                        <p>There are many variations of of Lorem Ipsum available, but the majority have suffered
                            alteration in some form,by injected humour </p>
                        <div class="authors-designation mt-30">
                            <h5>Ifeanyi Eze</h5>
                            <h6>Software Engineer</h6>
                            <span class="signature"><img src="assets/website/img/case/signature.svg" alt=""></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--case-studies end-->
    <!--how-increase-profit start-->
    <!-- <section
        class="how-increase-profit position-relative pt-150 pb-260 pb-lg-150 fix pt-md-60 pb-md-30 pt-xs-60 pb-xs-30">
        <img class="profit-shape pashape-1 d-none d-md-inline-block" src="assets/website/img/shape/berry-2.svg" alt="">
        <img class="profit-shape pashape-2 d-none d-md-inline-block" src="assets/website/img/services/client.svg"
            alt="">
        <img class="profit-shape pashape-3 d-none d-md-inline-block" src="assets/website/img/services/seler.svg" alt="">
        <img class="profit-shape pashape-4 d-none d-xl-inline-block" src="assets/website/img/services/d-van.svg" alt="">
        <div class="services-selers-img">
            <img class="pos-rel img-fluid" src="assets/website/img/services/service-1.jpg" alt="seler-img">
            <img class="pashape-5 d-none d-md-inline-block" src="assets/website/img/shape/round-line-a.svg"
                alt="round-line-a-shape">
            <img class="pashape-6 d-none d-md-inline-block" src="assets/website/img/shape/border-line-1.svg"
                alt="round-line-a-shape">
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6"></div>
                <div class="order-last col-xl-6 col-lg-6">
                    <div class="services-wrapper mb-30">
                        <div class="section-title pl-20">
                            <h2>Provide superior customer experience Increase profits</h2>
                            <h5 class="sect-title mb-30 mt-35">Dolor sit amet consectetur elit sed eiusmod tempor
                                incidi dunt labore dolore magna aliqua </h5>
                            <h5 class="sect-title mb-40 pr-50">Dolor sit amet consectetur elit sed eiusmod tempor
                                incidi dunt labore dolore magna aliqua </h5>
                            <a href="services-single.html" class="theme_btn theme_btn2">Learn Story</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--shipping-discount start-->
    <!--shipping-discount end-->

</main>

<!--footer-area start-->
<app-website-footer></app-website-footer>
<!--footer-area end-->