<header>
    <div id="hideshow-sticky-menu">
        <div id="theme-menu-one" class="main-header-area menu-style-1">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2 col-6">
                        <div class="logo-img"><a href="index.html"><img class="img-fluid"
                                    src="assets/website/img/logo.png" alt=""></a></div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-6 d-flex align-items-center justify-content-end">
                        <nav id="topheader" class="navbar navbar-expand-lg justify-content-end mr-25">
                            <div class="nav-container">
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav list-style-none">
                                        <li class="nav-item ">
                                            <a class="nav-link" [routerLink]="['/site/home']" id="navbarDropdown1"
                                                role="button" aria-expanded="false">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" [routerLink]="['/site/service']" id="navbarDropdown2"
                                                role="button" aria-expanded="false">Services</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" [routerLink]="['/site/about']" id="navbarDropdown3"
                                                role="button" aria-expanded="false">About Us</a>
                                        </li>
                                        <!-- <li class="nav-item">
                                            <a class="nav-link" [routerLink]="['/site/solution']" id="navbarDropdown4"
                                                role="button" aria-expanded="false">Locations</a>
                                        </li> -->
                                        <li class="nav-item">
                                            <a class="nav-link" [routerLink]="['/site/faq']" id="navbarDropdown5"
                                                role="button" aria-expanded="false">Faq</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" [routerLink]="['/site/contact']" id="navbarDropdown5"
                                                role="button" aria-expanded="false">Contact Us</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                        <div class="right-nav d-flex align-items-center justify-content-end">
                            <div (click)="showMenu()" class="hamburger-menu d-md-inline-block d-lg-none text-right mr-15">
                                <a href="javascript:void(0);">
                                    <i class="far fa-bars"></i>
                                </a>
                            </div>
                            <ul class="list-style-none right-btn d-flex align-items-center">
                                <li>
                                    <a class="theme_btn theme_btn_border d-none d-xl-inline-block"
                                       href="http://54.234.20.126:7021/"target="_blank"  >
                                        <span>Login</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<aside id="show-mobile-menu" class="slide-bar">
    <div class="close-mobile-menu">
        <a href="javascript:void(0);" (click)="closeMenu()"><i class="fas fa-times"></i></a>
    </div>

    <!-- side-mobile-menu start -->
    <nav class="side-mobile-menu">
        <ul id="mobile-menu-active">
            <li><a [routerLink]="['/site/home']">Home</a></li>
            <li><a [routerLink]="['/site/service']">Services</a></li>
            <li><a [routerLink]="['/site/about']">About</a></li>
            <!-- <li><a [routerLink]="['/site/solution']">Solution</a></li> -->
            <li><a [routerLink]="['/site/faq']">FAQ</a></li>
            <li><a [routerLink]="['/site/contact']">Contacts Us</a></li>
        </ul>
    </nav>
    <!-- side-mobile-menu end -->
</aside>
<div class="body-overlay"></div>