.page-title-area {
    background: #19191b url('../../../assets/website/img/brij/man-delivery.jpeg') no-repeat;
    background-size: cover;
    /* opacity: 0.75; */
}

.slide-title {
    font-size: 50px;
}