<app-website-navbar></app-website-navbar>
<app-website-sidemenu></app-website-sidemenu>

<main>
    <!--slider-area start-->
    <section class="page-title-area sky-blue-bg pt-205 pb-80 pt-lg-200 pt-md-160 pb-md-120 pt-xs-160 pb-xs-90">
        <!-- <img class="page-shape service-2-shape d-none d-xxl-inline-block" src="assets/website/img/line/line-1.svg"
            alt="Page Shape"> -->
        <!-- <img class="page-shape service-2-shape2 d-none d-md-inline-block" src="assets/website/img/shape/orange-1.svg"
            alt="Page Shape"> -->
        <!-- <img class="page-shape shape_05 d-none d-xxl-inline-block" src="assets/website/img/shape/round-line-a.svg"
            alt="Page Shape"> -->
        <!-- <img class="page-shape shape_06 d-none d-lg-inline-block" src="assets/website/img/shape/berry-1.svg"
            alt="Page Shape"> -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <div class="page-title-wrapper text-center">
                        <h4 class="styled-text theme-color mb-30">Services</h4>
                        <h5 class="h1 page-title">Our Logistics Services</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="work-process position-relative pt-75 pb-90 pb-lg-50 pt-md-60 pb-md-30 pt-xs-60 pb-xs-30">
        <!-- <img class="work-shape-h3 pshape-1 d-none d-none d-lg-inline-block" src="assets/website/img/shape/dot-a.svg "
            alt=""> -->
        <!-- <img class="work-shape pshape-2 d-none d-none d-xxl-inline-block" src="assets/website/img/shape/orange-5.svg"
            alt=""> -->
        <!-- <img class="work-shape pshape-3 d-none d-none d-lg-inline-block" src="assets/website/img/shape/eclip-1.svg"
            alt="">
        <img class="work-shape pshape-4 d-none d-none d-lg-inline-block" src="assets/website/img/shape/box-2.svg"
            alt=""> -->
        <div class="container">
            <div class="row justify-content-center mb-140 mb-lg-80 mb-md-80 mb-xs-80">
                <div class="col-xl-8 col-lg-8 col-md-7">
                    <div class="section-title section-title2 text-center mb-30">
                        <h6 class="mb-30">Our Work Process</h6>
                        <h2>The way we work at a <span class="theme-color">brij.world</span> company Transport and
                            Logistics
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="single-work sw-4 mb-30">
                        <div class="single-work__icon mb-30">
                            <img src="assets/website/img/icon/dollar-tag.png" alt="">
                        </div>
                        <h4 class="semi-title">Transparent Pricing</h4>
                        <p class="text-xs"  style="color: #a1a1aa;">
                            We made our pricing transparent and fair for all of our clients and partners to be a trusted shipping plug.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="single-work sw-4 mb-30">
                        <div class="single-work__icon mb-30">
                            <img src="assets/website/img/icon/box.png" alt="">
                           
                        </div>
                        <h4 class="semi-title">Packaging</h4>
                        <p class="text-xs" style="color: #a1a1aa;">
                            We ensure that your shipment or cargo are properly packaged, handled safely, and effectively so that they arrive intact. 
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="single-work sw-4 mb-30">
                        <div class="single-work__icon mb-30">
                            <img src="assets/website/img/icon/airplane.png" alt="">
                        </div>
                        <h4 class="semi-title">Transportation Process</h4>
                        <p class="text-xs" style="color: #a1a1aa;">
                            We use both air and shoreline services.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="single-work sw-4 mb-30">
                        <div class="single-work__icon mb-30">
                            <img src="assets/website/img/icon/delivery-truck.png" alt="">
                        </div>
                        <h4 class="semi-title">Distribution</h4>
                        <p class="text-xs" style="color: #a1a1aa;">
                            Overall management is done to oversee the transit of your shipment from our warehouse to the point of delivery.
                        </p>
                    </div>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </section>
    <!--slider-area end-->
    <!--logistics-services start-->
    <section class="sky-blue-bg logistics-services position-relative pb-110 pb-lg-50 pb-md-50 pb-xs-50">
        <img class="service-shape-v2 service-1 d-none d-xxl-inline-block" src="assets/website/img/shape/dot-a.svg"
            alt="Logistics Shape">
        <!-- <img class="service-shape-v2 service-2 d-none d-xl-inline-block" src="assets/website/img/slider/nav-box.svg"
            alt="Logistics Shape"> -->
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="c-services text-center wow fadeInUp2 animated mb-30" data-wow-delay="0.1s">
                        <div class="c-services__icon mb-65">
                            <img src="assets/website/icon/plane.svg" alt="">
                        </div>
                        <h3 class="service-title mb-25">Air Freight</h3>
                        <p class="mb-35">Integrate speed, flexibility, reliability and enhanced level of security with our air cargo service
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="c-services text-center wow fadeInUp2 animated mb-30" data-wow-delay="0.2s">
                        <div class="c-services__icon mb-65">
                            <img src="assets/website/icon/ship.svg" alt="">
                        </div>
                        <h3 class="service-title mb-25">Ocean Freight</h3>
                        <p class="mb-35">For business owners looking to ship large volumes of commercial goods or individual shoppers, our sea freight is viable, dependable and cost-effective for you.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="c-services text-center wow fadeInUp2 animated mb-30" data-wow-delay="0.3s">
                        <div class="c-services__icon mb-65">
                            <img src="assets/website/icon/consolidation.svg" alt="">
                        </div>
                        <h3 class="service-title mb-25">Consolidated Storage</h3>
                        <p class="mb-35">Consolidation: By consolidating multiple smaller parcels into one full box, we can help customers save money on shipping. You can now shop more while spending less with Brij. world.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="c-services text-center wow fadeInUp2 animated mb-30" data-wow-delay="0.1s">
                        <div class="c-services__icon mb-65">
                            <img src="assets/website/icon/doorstep-delivery.svg" alt="">
                        </div>
                        <h3 class="service-title mb-25">Door-step Delivery</h3>
                        <p class="mb-35">We promise a seamless shipping service with the option of delivering to your doorstep.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="c-services text-center wow fadeInUp2 animated mb-30" data-wow-delay="0.2s">
                        <div class="c-services__icon mb-65">
                            <img src="assets/website/icon/warehousing.svg" alt="">
                        </div>
                        <h3 class="service-title mb-25">Warehousing</h3>
                        <p class="mb-35">We provide strong cargo management and secured warehousing services.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="c-services text-center wow fadeInUp2 animated mb-30" data-wow-delay="0.3s">
                        <div class="c-services__icon mb-65">
                            <img src="assets/website/icon/truck.svg" alt="">
                        </div>
                        <h3 class="service-title mb-25">Cargo Insurace</h3>
                        <p class="mb-35">We ensure that your shipment is protected against potential losses which may occur during air, sea or land transportation.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="c-services text-center wow fadeInUp2 animated mb-30" data-wow-delay="0.3s">
                        <div class="c-services__icon mb-65">
                            <img src="assets/website/icon/virtual-address.png" alt="">
                        </div>
                        <h3 class="service-title mb-25">Virtual address</h3>
                        <p class="mb-35">By providing you a virtual US shipping address, Brij.world makes your purchases from the US easy, when compared to direct shipping from the US stores, you can significantly reduce your costs.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="c-services text-center wow fadeInUp2 animated mb-30" data-wow-delay="0.3s">
                        <div class="c-services__icon mb-65">
                            <img src="assets/website/icon/assisted-purchase.png" alt="">
                        </div>
                        <h3 class="service-title mb-25">Assisted purchase</h3>
                        <p class="mb-35">We can help you go through the hassle of online shopping, we offer shopping assistance, buy or shop for me service.</p>
                    </div>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </section>
    <!--logistics-services end-->
    <!--onestop-mangement start-->
    <!-- <section class="onestop-management pt-120 pb-55 pt-lg-80 pt-md-60 pt-xs-60">
        <img class="manage-shape manage-1 d-none d-lg-inline-block" src="assets/website/img/line/line-baby-1.svg"
            alt="">
        <img class="manage-shape manage-2 d-none d-md-inline-block" src="assets/website/img/shape/box-1.svg" alt="">
        <img class="manage-shape manage-3 d-none d-lg-inline-block" src="assets/website/img/line/line-3.svg" alt="">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="section-title management-title pr-30">
                        <h2>One place to manage all your shipments and tasks</h2>
                        <p>We have the capability to tailor solutions for individual businesses by moulding our
                            comprehensive range of services.</p>
                    </div>
                </div>
                <div class="col-lg-6 trusted-area pl-60">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 col-12">
                            <div class="row-count-content">
                                <div class="row-count-one">
                                    <div class="counter-box cb-1 wow fadeInUp2 animated" data-wow-delay="0.1s">
                                        <h2><span class="counter">100</span>k<b>+</b></h2>
                                        <h3>Brands Trust</h3>
                                        <p>Brands that trust brij.world</p>
                                    </div>
                                </div>
                                <div class="row-count-two">
                                    <div class="counter-box sky-blue-bg wow fadeInUp2 animated" data-wow-delay="0.2s">
                                        <h2><span class="counter">1100</span><b>+</b></h2>
                                        <h3>World wide</h3>
                                        <p>More worldwide user</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 col-sm-6 col-12">
                            <div class="counter-box cb-3 mt-140 wow fadeInUp2 animated" data-wow-delay="0.3s">
                                <h2><span class="counter">5.8</span>k<b>+</b></h2>
                                <h3>Products Transport</h3>
                                <p>Tons of Products</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section> -->
    <!--onestop-mangement end-->
    <!--work-process start-->

    <!--work-process end-->
    <!--call-to-action start-->
    <!-- <section class="call-to-action pt-100 pb-80 pt-md-60 pb-md-30 pt-xs-60 pb-xs-30">
        <img class="cta-shape cta-one cta-service2 d-none d-md-inline-block"
            src="assets/website/img/cta/cta-eclip-1.svg" alt="Cta Shape">
        <img class="cta-shape cta-two" src="assets/website/img/shape/box-2.svg" alt="Cta Shape">
        <div class="container">
            <div class="cta-border">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-7">
                        <div class="cta-title text-center text-md-start mb-30">
                            <h2>Let's co-create the right digital Logistic solution for your business.</h2>
                            <a href="javascript:void(0)" class="theme_btn black-btn cta-btn">Let’s Discuss</a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <div class="chat-manager text-center text-lg-end mb-30">
                            <img src="assets/website/img/cta/ai.svg" alt="Cta Img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--call-to-action end-->
</main>

<!--footer-area start-->
<app-website-footer></app-website-footer>
<!--footer-area end-->