<!-- header-area start -->
<app-website-navbar></app-website-navbar>
<!-- header-area end -->

<!-- slide-bar start -->
<app-website-sidemenu></app-website-sidemenu>
<!-- slide-bar end -->

<main>
    <!--slider-area start-->
    <section class="page-title-area sky-blue-bg pt-200 pb-100 pt-lg-200 pt-md-160 pb-md-120 pt-xs-160 pb-xs-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <div class="page-title-wrapper text-center">
                        <h4 class="styled-text theme-color mb-30">About us</h4>
                        <h5 class="h1 page-title">We Are Trusted Logistics Company</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--slider-area end-->
    <!--why-chose-us start-->
    <section class="why-chose-us position-relative">
        <div class="grey-bg-soft why-chose-us-bg position-relative pt-115 pt-lg-40 pt-md-60 pt-xs-60 pb-100">
            <!-- <img class="chose-shape cshape-3 d-none d-xl-inline-block" src="assets/website/img/shape/dot-a.svg" alt="">
            <img class="chose-shape cshape-4 d-none d-lg-inline-block" src="assets/website/img/chose/big-truck.svg"
                alt="">
            <img class="chose-shape cshape-5 d-none d-md-inline-block" src="assets/website/img/chose/big-truck.svg"
                alt=""> -->
            <div class="container">
                <div class="row align-items-center case-strategy-content">
                    <div class="col-lg-7 ">
                        <h2 class="case-single-title mb-4">Brij World</h2>
                        <p class="mb-20">Brij.world is a tech-logistics company that streamlines e-commerce and its consumers, offering easy and affordable shipping services from a US web store to over 30 states in Nigeria. We provide our customers with a US Virtual address to which they may ship their orders purchased from US online stores, to avoid the cost and hassles associated with traditional shipping to Nigeria.</p>
                        <h3 class="mb-8">Our Vision</h3>
                        <p class="mb-8">To become the biggest and most reliable freight forwarding company in Africa. </p><br />

                        <h3 class="mb-8">Our Mission</h3>
                        <p class="mb-8">Delivering excellent shipping service to our customers, by giving them the highest value for their money, we are committed to creating exceptional business support for our partners by ensuring hitch-free shipping services and sustaining the values we offer.</p>
                        <br />
                       <h3>Our Values</h3>
                        <ul class="list-style-none added-list">
                            <li>To build honesty and integrity with our Customers and Partners</li>
                            <li>Safety and Security of Our Customer's properties</li>
                            <li>To immense quality system and Customer service</li>
                        </ul>
                    </div>
                    <div class="col-lg-5 mb-30">
                        <div class="strategy-img">
                            <img class="w-100" src="assets/website/img/brij/delivery-guy.svg" alt="Strategy Img">
                        </div>
                    </div>
                </div>
                <!--/.row-->
            </div>

            <!-- <div class="shipment-time assistant-accesories mb-20">
                <div class="box-one mb-30">
                    <h3 class="fw-semibold">Surface area</h3>
                    <h4 class="h2 box-title mb-0 lh-1">262 m2</h4>
                    <p>AutoStore surface area</p>
                </div>
                <div class="box-one box-2 mb-30">
                    <h3 class="fw-semibold">Number of robots</h3>
                    <h4 class="h2 box-title mb-0 lh-1">5/6</h4>
                    <p>Number of robots</p>
                </div>
                <div class="box-one box-3 mb-30">
                    <h3 class="fw-semibold">Storage boxes</h3>
                    <h4 class="h2 box-title mb-0 lh-1">10.939</h4>
                    <p>Number of boxes</p>
                </div>
            </div> -->
            <!--/.container-->
        </div>
    </section>
 
    <!--onestop-mangement end-->

    <!--why-best-logistics start-->
    <!-- <section class="why-best-logistics position-relative pt-110 pb-50 pt-lg-80 pt-md-60 pb-md-30 pt-xs-60 pb-xs-30">
        <img class="logistics-shape shape_01 d-none d-lg-inline-block" src="assets/website/img/shape/sky-blue-1.svg"
            alt="best shape">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="why-chose-wrapper mb-30">
                        <div class="section-title section-title2 mb-45">
                            <h2 class="mb-1">Why best Logistics?</h2>
                            <h2 class="mb-45">Go global with ease</h2>
                            <p>There are many variations of passages of Lorem Ipsum available but the majority have
                                suffered alteration in some form</p>
                        </div>
                        <div class="comic-progress-bar mb-35">
                            <h5 class="p-title">Air Freight</h5>
                            <div class="progress">
                                <div class="progress-bar wow slideInLeft animated" data-wow-delay="0.1s"
                                    role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                    <span>90%</span>
                                </div>
                            </div>
                        </div>
                        <div class="comic-progress-bar mb-35">
                            <h5 class="p-title">Ocean Freight</h5>
                            <div class="progress">
                                <div class="progress-bar bar-2 wow slideInLeft animated" data-wow-delay="0.2s"
                                    role="progressbar" aria-valuenow="97" aria-valuemin="0" aria-valuemax="100">
                                    <span>97%</span>
                                </div>
                            </div>
                        </div>
                        <div class="comic-progress-bar mb-35">
                            <h5 class="p-title">Road Freight</h5>
                            <div class="progress">
                                <div class="progress-bar bar-3 wow slideInLeft animated" data-wow-delay="0.3s"
                                    role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                    <span>85%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="best-img-box text-end mb-30">
                        <img class="best-shape best-1 d-none d-lg-inline-block" src="assets/website/img/shape/dot-d.svg"
                            alt="Best shape">
                        <img class="best-shape best-2 d-none d-xl-inline-block"
                            src="assets/website/img/shape/orange-6.svg" alt="Best shape">
                        <img class="best-img" src="assets/website/img/chose/chose2.jpg" alt="Best Img">
                        <div class="counter-box cb-1a wow fadeInUp2 animated" data-wow-delay="0.1s">
                            <h2><span class="counter">100</span>k<b>+</b></h2>
                            <h3>Brands Trust</h3>
                            <p>Brands that trust brij.world</p>
                        </div>
                        <div class="counter-box cb-2 wow fadeInUp2 animated d-none d-xl-inline-block"
                            data-wow-delay="0.1s">
                            <h2><span class="counter">1100</span><b>+</b></h2>
                            <h3>Brands Trust</h3>
                            <p>Brands that trust brij.world</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--why-best-logistics end-->
    <!--shipping-discount start-->
    <!-- <section class="work-process-solution position-relative pt-75 pb-45 pt-md-60 pb-md-30 pt-xs-60 pb-xs-30">
        <div class="container">
            <div class="row justify-content-center mb-140 mb-lg-80 mb-md-80 mb-xs-80">
                <div class="col-xl-8 col-lg-8">
                     <div class="section-title section-title2 text-center mb-10">
                         <h6 class="mb-30">What we offer</h6>
                         <h2>What we offer our customers at <span class="theme-color">Brij</span> Transport and Logistics</h2>
                     </div>
                </div>
             </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                   <div class="single-work before-none mb-30">
                       <div class="single-work__icon mb-30">
                           <img src="assets/website/img/icon/budget.svg" alt="">
                       </div>
                       <h4 class="semi-title">Customer-Centric</h4>
                       <p>Our customer service team is equipped with the skill set to give you all the help you need while ensuring every interaction is a pleasing one.</p>
                   </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                   <div class="single-work sw-2 before-none mb-30">
                       <div class="single-work__icon mb-30">
                           <img src="assets/website/img/icon/customer-satisfaction.svg" alt="">
                       </div>
                       <h4 class="semi-title">Reliable and Secured Shipping</h4>
                       <p>We ensure all packages and label with the customer's unique Track ID to ensure they are delivered to the right person and in the best condition possible.</p>
                   </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                   <div class="single-work sw-3 after-none before-none mb-30">
                       <div class="single-work__icon mb-30">
                           <img src="assets/website/img/icon/reliability-1.svg" alt="">
                       </div>
                       <h4 class="semi-title">Easy Package Tracking</h4>
                       <p>Get prompt update and 
                        track your goods on the go with our real-time tracking service anytime anywhere.</p>
                   </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                   <div class="single-work before-none mb-30">
                       <div class="single-work__icon mb-30">
                           <img src="assets/website/img/icon/budget.svg" alt="">
                       </div>
                       <h4 class="semi-title">Affordable shipping rate</h4>
                       <p>We offer affordable rates with no hidden charges.</p>
                   </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                   <div class="single-work sw-2 before-none mb-30">
                       <div class="single-work__icon mb-30">
                           <img src="assets/website/img/icon/customer-satisfaction.svg" alt="">
                       </div>
                       <h4 class="semi-title">Return Damaged Packages</h4>
                       <p>We verify your order as soon as they are delivered to our warehouse and we return if your order is damaged or wrong products are sent.</p>
                   </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                   <div class="single-work sw-3 after-none before-none mb-30">
                       <div class="single-work__icon mb-30">
                           <img src="assets/website/img/icon/reliability-1.svg" alt="">
                       </div>
                       <h4 class="semi-title">Express Shipping</h4>
                       <p>We make sure your shipment or parcel is delivered to you on time.</p>
                   </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--shipping-discount end-->

    <section class="logistics-services pos-rel pt-150 pb-80 pt-md-60 pb-md-30 pt-xs-60 pb-xs-30">
        <img class="service-shape2 service-1" src="assets/img/shape/eclip-3.svg" alt="">
        <div class="container">
            <div class="row justify-content-center mb-100 mb-lg-80 mb-md-80 mb-xs-80">
                <div class="col-xl-8 col-lg-8">
                     <div class="section-title section-title2 text-center mb-10">
                         <h6 class="mb-30">What we offer</h6>
                         <h2>What we offer our customers at <span class="theme-color">Brij</span> Transport and Logistics</h2>
                     </div>
                </div>
             </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 item">
                    <div class="c-services-box">
                        <div class="c-services c-service2 text-center wow fadeInUp2 animated mb-30" data-wow-delay="0.1s">
                            <div class="c-services__icon mb-65">
                                <img src="assets/website/img/services/icon/plane-1.svg" alt="">
                            </div>
                            <h3 class="service-title mb-25">Customer-Centric</h3>
                            <p class="mb-35" style="font-size: 14px; padding-bottom: 60px">Our customer service team is equipped with the skill set to give you all the help you need while ensuring every interaction is a pleasing one.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 item">
                    <div class="c-services-box">
                        <div class="c-services c-service2 text-center wow fadeInUp2 animated mb-30" data-wow-delay="0.2s">
                            <div class="c-services__icon mb-65">
                                <img src="assets/website/img/services/icon/ship-1.svg" alt="">
                            </div>
                            <h3 class="service-title mb-25">Reliable and Secured Shipping</h3>
                            <p class="mb-35 p-style">We ensure all packages and label with the customer's unique Track ID to ensure they are delivered to the right person and in the best condition possible</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 item">
                    <div class="c-services-box">
                        <div class="c-services c-service2 text-center wow fadeInUp2 animated mb-30" data-wow-delay="0.3s">
                            <div class="c-services__icon mb-65">
                                <img src="assets/website/img/services/icon/van-1.svg" alt="">
                            </div>
                            <h3 class="service-title mb-25">Easy Package Tracking</h3>
                            <p class="mb-35 p-style">Get prompt update and 
                                track your goods on the go with our real-time tracking service anytime anywhere</p>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
            <div class="row">
                <div class="col-lg-4 col-md-6 item">
                    <div class="c-services-box">
                        <div class="c-services c-service2 text-center wow fadeInUp2 animated mb-30" data-wow-delay="0.1s">
                            <div class="c-services__icon mb-65">
                                <img src="assets/website/img/services/icon/plane-1.svg" alt="">
                            </div>
                            <h3 class="service-title mb-25">Affordable shipping rate</h3>
                            <p class="mb-35 p-style">We offer affordable rates with no hidden charges.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 item">
                    <div class="c-services-box">
                        <div class="c-services c-service2 text-center wow fadeInUp2 animated mb-30" data-wow-delay="0.2s">
                            <div class="c-services__icon mb-65">
                                <img src="assets/website/img/services/icon/ship-1.svg" alt="">
                            </div>
                            <h3 class="service-title mb-25">Return Damaged Packages</h3>
                            <p class="mb-35 p-style">We verify your order as soon as they are delivered to our warehouse and we return if your order is damaged or wrong products are sent.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 item">
                    <div class="c-services-box">
                        <div class="c-services c-service2 text-center wow fadeInUp2 animated mb-30" data-wow-delay="0.3s">
                            <div class="c-services__icon mb-65">
                                <img src="assets/website/img/services/icon/van-1.svg" alt="">
                            </div>
                            <h3 class="service-title mb-25">Express Shipping</h3>
                            <p class="mb-35 p-style">We make sure your shipment or parcel is delivered to you on time. </p>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </section>

</main>
<!--footer-area start-->
<app-website-footer></app-website-footer>
<!--footer-area end-->

<a class="scrollUp" href="#"><i class="far fa-arrow-up"></i></a>